html{
  font-family: Verdana;
}
body {
  background: white;
  justify-content: center;
  font-size: 16px;
  width: 100%;
  font-family: Verdana;
}

form {
  background: white;
  width: 29%;
  margin-top: 50px;
  margin-left: 35%;
  font-family: lato;
  position: static;
  color: #333;
  border-radius: 10px;
}
form header {
  background: grey;
  padding: 20px 20px;
  color: white;
  font-size: 23px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 5px;
  position: relative;
  font-size: 17px;
}
form input {
  display: inline;
  width: 84%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
  font-family: Verdana;
}
form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
  font-family: Verdana;
}
Button[type=submit] {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0);
  font-family: Verdana;
  color: white;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

form input[type="radio"] {
  display: inline;
  margin-left: 20px;
  padding: 5px 20px;
  width: 10%;
  font-family: Verdana;
}

form button:hover {
  background: grey;
}
.nav .login a.active {
 background-color: black ;
 color: white;
}

.radioname{
  font-family: Verdana;
}

form .dob{
  display: inline;
  margin-top: 20px;
  width: 54%;
  font-family: Verdana;
}


form select{
  width: 40%;
  font-size: 17px;
  margin-left: 1%;
  font-family: Verdana;
}

@media screen and (max-width: 1200px){
  body {
    /*background-color: green;*/
  }
  form{
    margin-left: 25%;
    width: 50%;
  }
}

@media screen and (max-width: 500px){
  body {

  }
  form{
    margin: 2% auto;
    width: 95%;
    height: 20%;
  }
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  /*background-color: #f5f5f5;*/
  background-color: grey;
}

.container .text-muted {
    margin: 20px 0;

}
.text-muted {
    color: white;

}


